#trusted-brands {
  background: #f9fafb;
}
.trusted-center {
  text-align: center;
}
.trusted-text {
  color: #667085;
  font-size: 1 rem;
  line-height: 1.5rem;
  font-weight: 400;
  /* padding: 0 7.3125rem; */
}

#allimages {
  width: 90.625rem;
}
#allimages img {
  padding-bottom: 6rem;
  padding-top: 3.5rem;
  padding-left: 1.1125rem;
}

.grey-image {
  padding-left: 0.5375rem;
}

.grey-image img {
  padding-left: 3.2rem;
}

/* // Small devices (landscape phones, less than 557px) */
@media (max-width: 556.98px) {
  .grey-image:nth-of-type(6){
    order: 4;
  }
  .grey-image:nth-of-type(5){
    order: 6;
  }
  .grey-image:nth-of-type(4){
    order: 6;
  }
  .grey-image:nth-of-type(3){
    order: 6;
  }
  .grey-image:nth-of-type(1){
    order: 6;
  }
  .grey-image:nth-of-type(2){
    order: 6;
  }
}
