#join {
  background: #f9fafb;
  font-family: "Campton", sans-serif !important;
  color: #667085;
}

.trusted-brands {
  display: flex;
  width: 100%;
}

.grey {
  width: 23.4375 ;
}

.grey:nth-child(6) img {
  width: 140px;
}
