#join {
  background: #f9fafb;
  font-family: "Campton", sans-serif !important;
  border: 4px solid red;
height: 13.25rem;
}

#join > h6 {
  font-weight: 400;
  line-height: 1.5rem;
  font-size: 1rem;
  text-align: center !important;
  color: #667085;
  padding: 0 7.3125rem;
  padding-bottom: 2.625rem;
}

.trusted-brands {
  display: flex;
  /* width: 100%; */
  border: 4px solid blue;
    width: 90.625rem;

}


.grey:nth-child(1) img {
  width: 3.75rem;
  h3.75rem
}
.grey:nth-child(6) img {
  width: 140px;
}
.grey:nth-child(6) img {
  width: 140px;
}
.grey:nth-child(6) img {
  width: 140px;
}
.grey:nth-child(6) img {
  width: 140px;
}
