

#join {
  background: #f9fafb;
  font-family: "Campton", sans-serif !important;
      border: 1px sold green;

}

#join > h6{
    font-weight: 400;
    line-height: 1.5rem;
    font-size: 1rem;
    text-align: center !important;
    color: #667085;
    padding: 0 7.3125rem;
    padding-bottom: 2.625rem;
}

.trusted-brands {
  display: flex;
  width: 100%;
  border: 4px sold blue;
}

.grey{
    border: 1px sold green;
}

.grey-image{
  width: 9.625rem;
  border: 1px solid red;
}

.grey:nth-child(6) img {
  width: 140px;
}
