.grey {
  width: 23.4375rem ;
}

#join {
  background: #f9fafb;
  font-family: "Campton", sans-serif !important;
}

#join > .text{
    padding-left: 1rem;
    padding-right: 1r;
}
#join h6{
    width: 21.4375rem;
    height: 1.5rem;
    font-weight: 400;
    line-height: 1.5rem;
    font-size: 1rem;
    text-align: center;
    color: #667085;
}

.trusted-brands {
  display: flex;
  width: 100%;
}



.grey:nth-child(6) img {
  width: 140px;
}
