#join {
  background: #f9fafb;
  font-family: "Campton", sans-serif !important;
  border: 4px solid red;
  height: 13.25rem;
}

#join > h6 {
  font-weight: 400;
  line-height: 1.5rem;
  font-size: 1rem;
  text-align: center !important;
  color: #667085;
  padding: 0 7.3125rem;
  padding-bottom: 2.625rem;
}

.trusted-brands {
  display: flex;
  /* width: 100%; */
  border: 4px solid blue;
  width: 90.625rem;
}

.trusted-brands > img:nth-child(1) {
  width: 3.75rem;
  height: 3.75rem;
  margin-right: 7.85rem;
  margin-bottom: 6rem;
  display: none;
}

.grey-image .image > img:nth-child(2) {
  width: 5.89125rem;
  height: 3.125rem;
  margin-right: 7.85rem;
  margin-bottom: 6rem;
  display: none;
}

.grey:nth-child(3) img {
  width: 6.5125rem;
  height: 2.5rem;
  margin-right: 7.85rem;
  margin-bottom: 6rem;
}

.grey:nth-child(4) img {
  width: 4.1118rem;
  height: 2.5rem;
  margin-right: 7.85rem;
  margin-bottom: 6rem;
}

.grey:nth-child(5) img {
  width: 4.068rem;
  height: 2.5rem;
  margin-right: 7.85rem;
  margin-bottom: 6rem;
}

.grey:nth-child(6) img {
  width: 140px;
  height: 3.75rem;
  margin-right: 0;
  margin-bottom: 6rem;
}

/* // Small devices (landscape phones, less than 576px) */
@media (max-width: 575.98px) {
  #join {
    background: #f9fafb;
    font-family: "Campton", sans-serif !important;
    border: 4px solid red;
    height: 13.25rem;
  }

  #join > h6 {
    display: flex;
    font-weight: 400;
    line-height: 1.5rem;
    font-size: 1rem;
    text-align: center !important;
    color: #667085;
width: 33rem;   
 /* padding: 0 7.3125rem;
  padding-bottom: 2.625rem; */
  }
}
