#trusted-brands {
  background: #f9fafb;
}
.trusted-text {
  color: #667085;
  font-size: 1 rem;
  line-height: 1.5rem;
  font-weight: 400;
  padding: 0 7.3125rem;
}
#allimages img{
padding-bottom: ;}

