.real {
  background-color: #fefaec;
  width: fit-content;
}
.chateau {
  background-color: #fefaec;
  padding: 0;
  margin: 0;
}
.all {
  margin: 0;
  padding: 0;
}

/* Small devices (landscape phones, less than 557px) */
@media only screen and (min-width: 320px) and (max-width: 556.98px) {
  .chateau-img {
    text-align: center;
    margin-top: 96px;
    margin-bottom: 46px;
  }
  .quote{
    text-align: center;
  }
  .quote h3{
    font-weight: 400;
font-size: 24px;
line-height: 36px;
/* or 150% */

text-align: center;
letter-spacing: -0.02em;



  }
}
