.real {
  background-color: #fefaec;
}
.chateau {
  background-color: #fefaec;
  padding: 0;
  margin: 0;
}
.all {
  margin: 0;
  padding: 0;
  padding-top: 6rem;
}
.chateau-img img {
  padding-bottom: 2rem;
  background: #fefaec;
}

.quote > h3 {
  width: fit-content;
  height: 7.125rem;
  font-size: 1.625rem;
  font-weight: 400;
  letter-spacing: 0.02rem;
}

.quote > img {
  padding-bottom: 2rem;
}

/* Small devices (landscape phones, less than 557px) */
@media (max-width: 556.98px) {
  .real{
  }
  .quote > img {
    padding-top: 10rem;
    font-size: 1.5rem;
  }
}
