.real {
  background-color: #fefaec;
  width: fit-content;
}
.chateau {
  background-color: #fefaec;
  padding: 0;
  margin: 0;
}
.all {
  margin: 0;
  padding: 0;
  padding-top: 6rem;
}

/* Small devices (landscape phones, less than 557px) */
@media only screen and (min-width: 320px) and (max-width: 556.98px) {
  .chateau-img {
    text-align: center;
    margin-top: 9px;
  }
  .quote{
    text-align: center;
  }
}
