.footer {
  background-color: #0d79e6;
  position: relative;
  padding-bottom: 4rem;
}

.image {
  position: absolute;
  top: 2rem;
  left: 1.5rem;
}
.footlink{
  position: absolute;
  top: 6rem;
}

@media (max-width: 575.98px) {
}
