@media (max-width: 575.98px) {
  .foot-logo {
    text-align: center;
    margin-top: 1rem;
  }

  .footlink {
    text-align: center;
    /* margin-left: 0.5rem; */
  }
  .links .overview {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
    margin-right: 2rem;
  }
}
