

@media (max-width: 575.98px) {
  .foot-logo {
    text-align: center;
  }

  .footlink {
    text-align: center;
  }
  .links .overview {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
    margin-left: 1rem;
  }
  .foot-small {
    margin-top: 2rem;
    font-weight: 350;
    font-size: 12px;
    line-height: 24px;
    display: flex;
    color: #98a2b3;
  }
 
  .terms {
    margin-left: 1.5rem;
    text-decoration: none;
    color: #98a2b3;
  }
}
