.footer {
  background-color: #f9fafb;
}
.foot-logo {
  text-align: center;
}
.image img {
  margin-top: 43px;
}

.footlink {
  text-align: center;
}
.links .overview {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #667085;
  margin-left: 1rem;
}
.foot-small {
  margin-top: 2rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  color: #98a2b3;
  border-top: 1px solid grey;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: space-between;
}
.rights {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  margin-left: 117px;
}
.link-term {
  margin-right: 117px;
}

.terms {
  font-weight: 300;
  align-items: center;
  text-decoration: none;
  color: #98a2b3;
  margin-right: 1rem;
}

@media only screen and (min-width: 320px) and (max-width: 575.98px) {
  .foot-logo {
    text-align: unset;
    margin-left: 43px;
  }

  .image img {
    margin-top: 43px;
  }

  .footlink {
    margin-left: 43px;
    text-align: unset;
  }
  .links .overview {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
    margin-left: 1rem;
  }
  .foot-small {
    justify-content: unset;
    margin-top: 2rem;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: block;
    color: #98a2b3;
    border-top: 1px solid grey;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
  }
  .rights {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    word-spacing: 0.5rem;
    margin-left: 0;
  }
  .link-term {
    text-align: center;
    margin-top: 1rem;
    margin-right: 0;
  }

  .terms {
    font-weight: 300;
    align-items: center;
    text-decoration: none;
    color: #98a2b3;
    margin-right: 1rem;
  }
}
