.footer {
  background-color: #f9fafb;
  position: relative;
  padding-bottom: 0.3rem;
}
.image img {
  padding-top: 4rem;
}
.links a {
  color: #667085;
  text-decoration: none;
  padding-top: 2rem;
  padding-left: 2rem;
  font-size: 1rem;
  font-weight: 350;
  padding-bottom: 4rem;
}

.foot-small {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid rgb(206, 203, 203);
  padding-left: 7.25rem;
  color: #667085;
  font-size: 1rem;
  font-weight: 350;
}

.terms{
  padding-right: 10.25rem;
}
.terms a{
  
}
@media (max-width: 575.98px) {
  /* .footer{
    width: 20rem;
  }
  .image {
  position: absolute;
  top: 2rem;
  left: 1.5rem;
} */
  /* .footlink {
  position: absolute;
  top: 8rem;
}
.links a:nth-child(1) {
  position: absolute;
  text-decoration: none;
  top: 1rem;
  left: 1rem;
}
.links a:nth-child(2) {
  position: absolute;
  text-decoration: none;
  top: 1rem;
  left: 10rem;
}
.links a:nth-child(3) {
  position: absolute;
  text-decoration: none;
  top: 3rem;
  left: 1rem;
}
.links a:nth-child(4) {
  position: absolute;
  text-decoration: none;
  top: 3rem;
  left: 10rem;
}
.rights{
  display: none;
}
.terms{
  display: none;
} */
}
