.contact-head {
  text-align: center;
  padding-top: 6rem;
}
.contact-head h6 {
  color: #dba90f;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding-bottom: 0.75rem;
}
.contact-head h1 {
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 2.75rem;
  text-align: center;
  letter-spacing: -0.02em;
  color: #101828;
  padding-bottom: 1.25rem;
}
.contact-head p {
  color: #667085;
  font-weight: 300;

}
