.contact-bottom h6 {
  color: #dba90f;
  font-size: 1rem;
  padding-bottom: 0.75rem;
}
.contact-bottom h1 {
  font-size: 3rem;
  width: 48rem;
  color: #101828;
  letter-spacing: -0.02em;
  padding-bottom: 1.5rem;
}
.contact-bottom p{
    padding-bottom: 6rem;
}
