.hero {
  background-color: #5086bc !important;
}

#join{
    background-color: ;
      font-family: "Campton", sans-serif !important;

}

.trusted-brands {
  display: flex;
  width: 100%;
 }

.grey {
  width: calc(100% / 6);
}

.grey:nth-child(6) img {
  width: 140px;
}
