.hero {
  background-color: #5086bc !important;
}

.trusted-brands {
  display: flex;
  overflow-x: hidden !important;

  width: 80%;
}

.grey {
  width: calc(800% / 6);
}

.grey:nth-child(6) img {
  width: 140px;
}
