.hero {
  background-color: #5086bc !important;
}

.trusted-brands {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 00vw;
}

.grey {
  width: auto;
}

.grey:nth-child(6) img {
}
