.hero {
  background-color: #5086bc !important;
}

.trusted-brands {
  display: flex;
  width: 100%;
 
}

.grey {
  width: calc(100% / 6);
}

.grey:nth-child(6) img {
  width: 140px;
}
.trusted-brand{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    background-color: blue;
}