.hero {
  background-color: #5086bc !important;
}

.trusted-brands {
  display: flex;
  overflow-x: hidden;
  justify-content: space-around;
  align-items: center;
}

.grey:nth-child(6) {
  width: 10px !important;
}
