.merch-brands {
  display: flex;
  height: 36.875rem;
  border: 2px solid red;
}
.brand-cont {
  padding-left: 2.5rem;
}
.brands-top {
  padding-right: 4rem;
}
.brands-top h6 {
  color: #dba90f;
  font-size: 1rem;
  font-weight: 600;
  width: 36rem;
  height: 1.5rem;
  margin-top: 3rem;
}
.brands-top h3 {
  width: 33.3125rem;
  font-size: 1.75rem;
  font-weight: 600;
  letter-spacing: -0.02em;
  color: #101828;
}
.brands-bottom p {
  width: 36rem;
  color: #667085;
  padding-bottom: 2.5rem;
}

.brand-img img {
  width: 36rem;
  height: 36.875rem;
}
/* // Small devices (landscape phones, less than 557px) */
@media (max-width: 556.98px) {
  .merch-brands{
          padding-left: rem;

  }
  .brands-top h6 {
    padding-top: 4.1875rem;
    font-size: 1rem;
    font-weight: 600;
    width: 20.6875rem;
    height: 1.5rem;
    line-height: 1.5rem;
  }
  .brands-top h3 {
    width: 20.25rem;
    font-size: 1.75rem;
    font-weight: 600;
    letter-spacing: -0.02em;
    color: #101828;
  }
  .brands-bottom p {
    width: 36rem;
    color: #667085;
    padding-bottom: 2.5rem;
  }

  .brand-img img {
    width: 36rem;
    height: 36.875rem;
  }
}
