.merch-brands {
  display: flex;
}
.brands-top {
  padding-right: 4rem;
}
.brands-top h6 {
  color: #dba90f;
  font-size: 1rem;
  font-weight: 600;
  width: 36rem;
  height: 1.5rem;
}
.brands-top h3 {
  width: 33.3125rem;
  font-size: 1.75rem;
  font-weight: 600;
  letter-spacing: -0.02em;
  color: #101828;
}
.brands-bottom p{
    width: 36rem;
    color: #667085;
    padding-bottom: 2.5rem;
}

.brand-img{}
/* // Small devices (landscape phones, less than 557px) */
@media (max-width: 556.98px) {
}
