.merch-brands{
display: flex;

}
.brands-top{
    padding-right: 4rem;
}
.brands-top h6{
    color: #DBA90F
;
}
.brands-top h6{
width: 33.3125rem;
}

/* // Small devices (landscape phones, less than 557px) */
@media (max-width: 556.98px) {
 
}