.brands > h6 {
  color: #dba90f;
  width: 576px;
  height: 24px;
  font-family: "inter" !important;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.brands > h3 {
  width: 533px;
  height: 108px;
  font-family: "Campton";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.02em;
  color: #101828;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.brands > p {
  width: 576px;
  height: 142px;
  font-family: "Campton";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #667085;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
