* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  over
}

body {
  margin: 0;
  font-family: "Campton", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* width: 100vw; */
}

/* .nav-link {
  font-family: "Campton", sans-serif;
} */
