* {
  box-sizing: border-box;
  /* margin: 0 !important; */
  /* padding: 0 !important; */
}

body {
  margin: 0;
  font-family: "Campton", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
}

/* .nav-link {
  font-family: "Campton", sans-serif;
} */