/* // Small devices (landscape phones, less than 557px) */
.top > h4{
color: #DBA90F;
font-size: 1rem;
font-weight: 600;
padding-bottom: 0.75rem;
}

.top > h3{
    font-size: 1.75rem;
    
}


@media (max-width: 556.98px) {
  
}