.all-question {
  padding: 0 !important;
  margin: 0;
  margin-top: 6rem;
    margin-bottom: 3rem;

}

.card {
  width: 48rem !important;
  border: #fff !important;
  margin-bottom: 4rem;
}
.accordion {
  margin: 0 336.5px;
}

.card-header {
  background-color: #fff !important;
  border-bottom: 2px solid #eaecf0 !important;
}

/* avatar */
.avatars {
  background-color: #f9fafb;
  width: 76rem;
  border-radius: 1rem;
}
.avatar {
  padding-top: 4rem;
  padding-bottom: 2rem;
}
.img {
  display: flex;
}
/* .avatar h3{} */
.img img:nth-child(1) {
  z-index: 4 !important;
  margin-left: -25px;
}
.img img:nth-child(2) {
  z-index: 5 !important;
  margin-left: -25px;
}
.img img:nth-child(3) {
  z-index: 6 !important;
  margin-left: -25px;
}
.img img:nth-child(4) {
  z-index: 7 !important;
  margin-left: -25px;
}
.questions h3 {
  font-size: 1.25rem;
  color: #101828;
}
.questions p {
  color: #667085;
  font-weight: 300;
}
.answer {
  color: #667085;
  font-weight: 300;
  font-size: 1rem;
}
.avatars > button {
  margin-bottom: 2rem;
}
.link-btn {
  padding-bottom: 2rem;
  text-decoration: none;
}

@media (max-width: 556.98px) {
  .all-question {
    padding: 0 !important;
  }
  .avatars {
    /* background-color: #4382c0; */
    margin: 0rem;
    padding: 0;
    border-radius: 0;
  }
  .question {
    padding-left: 1rem;
    width: 20rem !important;
  }
  .frequent h3 {
    padding-left: 2rem;
    font-size: 1.25rem !important;
  }
  .frequent p {
    padding-left: 2rem;
    font-size: 1rem !important;
    font-weight: 300;
    color: #667085;
  }
  .avatar {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
  }

  .questions h3 {
    padding-left: 2.9375rem;
    padding-right: 2.9375rem;
  }
  .questions p {
    padding-left: 2.9375rem;
    padding-right: 2.9375rem;
    font-weight: 300;
  }
  .card {
    width: 20rem !important;
  }
}
