.printivo-conts {
  background-color: #eceffe;
}
 .printivo {
  display: flex;
}
/*.growing {
  margin-left: 117px;
  margin: 107px 0;
}
.printivo-img {
  margin-right: 117px;
  margin-top: 81px;
}
.printivo-img img {
  padding-right: 56px;
}
.growing {
  margin-left: 117px;
} */

@media only screen and (min-width: 320px) and (max-width: 556.98px) {
  .printivo {
    display: block;
    padding-bottom: 57px;
  }
  .growing {
    margin: 0;
    padding: 96px 4.5px 37px 4.5px;
    font-size: 20px;
    text-align: center;
  }
  .printivo-img {
    margin-right: 117px;
    margin-top: 37px;
  }
  .printivo-img img {
    padding-right: 5px;
  }
  /*
  .growing {
    margin-left: 117px;
  } */
}
