 .printivo-cont {
  background-color: #eceffe;
}
.printivo{
  display: flex;
  margin: 107px 0px;
    background-color: #eceffe;

}
.growing{
  margin-left: 117px;
}
.printivo-img{
  margin-right: 117px;
  background-color: red;
}
.printivo-img img{
  padding-right: 59px;
}
/*.growing p {
  font-size: 1.375rem;
  letter-spacing: -0.02em;
  font-weight: 600;
  padding-top: 6.6875rem;
  padding-bottom: 6.6875rem;
  line-height: 1.75rem;
  padding-right: 4.02rem;
}
.printivo-img img {
  padding-right: 3rem;
  padding-top: 6.0875rem;
  padding-bottom: 6.6875rem;
} */
@media (max-width: 556.98px) {
  /* .printivo {
    display: block;
  }
  .growing{
      background-color: #eceffe;

  }
  .grow-para p{
        margin: 9px 4.5px 37px 4.5px;

  } */
  
}
