.benefit{
    padding-top: 6rem;
    pb4rem
}
.benefit h6{
    color: #DBA90F;
}
.benefit p{
    color: #667085;
}
.feature-cont{
    width: 26rem;
    /* display: none; */
    border: 1px solid green;
}

.feature-cont h3{
    margin-left: -5rem;
}

.feature-cont p{
    margin-left: -5rem;
}
