.benefit{
    padding-top: 6rem;
    padding-bottom: 4rem;
}
.benefit h6{
    color: #DBA90F;
}
.benefit p{
    color: #667085;
}
-cont{
    width: 26rem;
    border: 1px solid green;
}

/* .feature-cont h3{
    margin-left: -5rem;
    font-size: 1.25rem;
} */

.feature-cont p{
    margin-left: -1 rem;
    width: 24rem;
    font-size: 1rem;
}
