.benefit{
    padding-top: 6rem;
}
.benefit h6{
    co
}
.feature-cont{
    width: 26rem;
    /* display: none; */
    border: 1px solid green;
}

.feature-cont h3{
    margin-left: -5rem;
}

.feature-cont p{
    margin-left: -5rem;
}
