.benefit{
    padding-top: 6rem;
    padding-bottom: 4rem;
}
.benefit h6{
    color: #DBA90F;
}
.benefit p{
    color: #667085;
}
.benefit-cont{
    width: 26rem;
    border: 1px solid green;
}

.benefit-cont h3{
    font-size: 1.25rem;
}

.benefit-cont p{
    margin-left: -1 rem;
    width: 24rem;
    font-size: 1rem;
    color: #667085
;
}
