* {
  font-family: "Campton", sans-serif;
}
.container-hero {
  background-color: #f9fafb;
}
.hero-all {
  display: flex;
  width: 88.276%;
  margin: 0 auto;
}

.left {
  margin: 0 7px;
}

.one-paragraph {
  margin: 31px 0;
  display: flex;
  font-size: 12px;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  border-radius: 16px;
  background: #f1ebda;
  padding: 4px 10px 4px 4px;
  width: fit-content;
  color: #dba90f;
}

.first-para {
  border-radius: 16px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
}
.what,
.get {
  margin: 0;
  white-space: nowrap;
}
.second-para {
  padding: 2px 0px;
}
.produce {
  font-weight: 600;
  font-size: 40px;
  line-height: 58px;
  letter-spacing: -0.02em;
}
.design {
  font-weight: 400;
  color: #667085;
  font-size: 20px;
  line-height: 30px;
}

/* PRODUCTS STYLING */
.right {
  padding-right: 15%;
  padding-top: 7rem;
}

.top-first > img {
  margin-left: 25% !important;
  margin-top: 15% !important;
}

.bottom-first {
  margin-left: 3%;
  margin-right: 5px;
  width: 20%;
}

.bottom-img {
  padding-top: 0.4rem;
}
.bottom-second {
  margin-left: -3% !important;
  width: 20%;
}
.bottom-third {
  margin-left: -8% !important;
  margin-right: 0;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .hero-all {
    display: flex;
    flex-direction: column;
  }

  .left {
    margin: 0 7px;
  }
  .one-paragraph {
    margin: 31px 0;
    display: flex;
    font-size: 12px;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    border-radius: 16px;
    background: #f1ebda;
    padding: 4px 10px 4px 4px;
    width: fit-content;
    color: #dba90f;
  }

  .first-para {
    border-radius: 16px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
  }
  .what,
  .get {
    margin: 0;
    white-space: nowrap;
  }
  .second-para {
    padding: 2px 0px;
  }
  .produce {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.02em;
  }
  .design {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
  }
  .products {
    display: none;
  }
}
