* {
  font-family: "Campton", sans-serif !important;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container-hero {
  background-color: #f9fafb;
  width: fit-content;
}
/* .left {
  padding-left: 7rem;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.one {
  padding-bottom: 1.5rem;
}
.one-paragraph {
  display: flex;
  width: 21.562rem;
  height: 2rem;
  background: antiquewhite;
  border-radius: 1rem;
  color: #dba90f;
  text-align: center;
  padding: 0.25rem 0.625rem 0.25rem 0.25rem;
  font-size: 0.85rem;
  font-weight: 500;
}

.one-paragraph > .first-para {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.56rem;
  height: 1.5rem;
  padding: 0.125rem 0.625rem;
  background-color: white;
  border-radius: 1rem;
}

.first-para > .what {
  height: 1.25rem;
  width: 5.3125rem;
}

.first-para p {
  padding-top: 0.625rem;
}

.second-para > .get {
  height: 1.25rem;
}
.second-para p {
  padding-top: 0.25rem;
}

.produce {
  width: 36rem;
  height: 10.87rem;
  font-style: normal;
  font-weight: 600;
  font-size: 2.5rem;
  letter-spacing: -0.02em;
  line-height: 3.625rem;
}

.three p {
  width: 36rem;
  height: 3.75rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
}
.three {
  padding-bottom: 3rem;
}
.left button {
  width: 9.75rem;
  border-radius: 0.2rem;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  height: 3.75rem;
} */

/* PRODUCTS STYLING */
/* .right {
  padding-right: 15%;
  padding-top: 7rem;
}

.top-first > img {
  margin-left: 25%;
  margin-top: 15%;
}

.bottom-first {
  margin-left: 3%;
  margin-right: 5px;
}

.bottom-second {
  margin-left: -3%;
}
.bottom-third {
  margin-left: -8%;
  margin-right: 0;
} */

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .container-hero {
    width: 100%;
    padding-right: 0;
    margin-right: 0;
  }
  .get-started {
    margin-top: 20%;
    background-color: rgb(110, 45, 45);
    
  }
  /* .left {
    padding-left: 0.9375rem;
    padding-top: 1.9375rem;
  }
  .one-paragraph {
    display: flex;
    width: fit-content;
    height: 1.875rem;
    gap: 0.5rem;
    font-style: 0.75rem;
  }
  .one-paragraph > .first-para {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.5625rem;
    height: 1.375rem;
    padding: 0.25rem;
    border-radius: 1rem;
  }
  .first-para p {
    padding-top: 0.125rem 0.5rem;
    width: 4.5625rem;
    height: 1.125rem;
    font-size: 0.75rem;
    text-align: center;
  }
  .one-paragraph > .second-para {
    width: 10.125rem;
    height: 1.125rem;
    font-size: 0.6rem;
    font-weight: 400;
  }
  .produce {
    padding-top: 1.9375rem;
    width: fit-content;
    height: 10rem;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: -0.02em;
    line-height: 2.5rem;
  }
  .three p {
    width: fit-content;
    padding-top: 3rem;
    height: 7rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.75rem;
    padding-bottom: 2.75rem;
  }
  .three {
    padding-top: 4rem;
  } */
  .products {
    display: none;
  }
}

/* // Small devices (landscape phones, less than 768px) */
/* @media (max-width: 991.98px) {
  .left {
    padding-left: 0.9375rem;
    padding-top: 1.9375rem;
  }
  .one-paragraph {
    display: flex;
    width: fit-content;
    height: 1.875rem;
    gap: 0.5rem;
    font-style: 0.75rem;
  }
  .one-paragraph > .first-para {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.5625rem;
    height: 1.375rem;
    padding: 0.25rem;
    border-radius: 1rem;
  }
  .first-para p {
    padding-top: 0.125rem 0.5rem;
    width: 4.5625rem;
    height: 1.125rem;
    font-size: 0.75rem;
    text-align: center;
  }
  .one-paragraph > .second-para {
    width: 10.125rem;
    height: 1.125rem;
    font-size: 0.6rem;
    font-weight: 400;
  }
  .produce {
    padding-top: 1.9375rem;
    width: fit-content;
    height: 10rem;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: -0.02em;
    line-height: 2.5rem;
  }
  .three p {
    width: fit-content;
    padding-top: 3rem;
    height: 7rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.75rem;
    padding-bottom: 2.75rem;
  }

  .right {
    display: none !important;
  }
} */

/* // Medium devices (tablets, less than 992px) */
/* @media (max-width: 991.98px) {
  .container-hero {
    width: 100% !important;
  }

  .right {
    display: block !important;
  }
} */

/* // Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { ... }

// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width */

/* // No media query necessary for xs breakpoint as it's effectively `@media (max-width: 0) { ... }` */
/* @include media-breakpoint-down(md) { 
  .get-started{
    margin-left: 10px;
    display: none;
  }
 } */
