.hero-all {
  background: #f9fafb;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .hero-all {
    display: flex;
    flex-direction: column;
  }
  .one-paragraph {
    margin-top: 20px;
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: 600;
    border-radius: 16px;
    background: #f1ebda;
    padding-top: 0.375rem;
    width: 305px;
    color: #dba90f;
  }

  .first-para {
    border-radius: 16px;
    background-color: white;
align-items: center;  }
}
