* {
  font-family: "Campton", sans-serif;
}
.hero-all {
  background: #f9fafb;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .hero-all {
    display: flex;
    flex-direction: column;
  }

  .one-paragraph {
    margin: 31px 0;
    display: flex;
    font-size: 11.5px;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    border-radius: 16px;
    background: #f1ebda;
    padding: 4px 10px 4px 4px;
    width: fit-content;
    color: #dba90f;
  }

  .first-para {
    border-radius: 16px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
  }
  .what,
  .get {
    margin: 0;
  }
  .second-para {
    padding: 2px 0px;
  }
}
