.hero-all {
  background: #f9fafb;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .hero-all {
    display: flex;
    flex-direction: column;
  }
  .one-paragraph {
    margin-top: 110px;
    display: flex;
    font-size: 12px;
    gap: 20px;
    br
  }
}
