* {
  font-family: "Campton", sans-serif !important;
  box-sizing: border-box !important;
  margin: 0 !important;
}

.container-hero {
  background-color: #f9fafb;
  width: 100%;
  padding-left: 60px !important;
}
.left {
  padding-bottom: 7rem;
  width: 90%;
}

.get-started {
  margin: 0;
  padding: 0;
  margin-top: 10% !important;
}

.one {
  background: #f1ebda;
  width: 50%;
  border-radius: 1rem;
  color: #dba90f;
  margin-top: 1.9375rem !important;
  font-size: 12px;
  margin-bottom: 1.9375rem !important;
}

.one-paragraph {
  display: flex;
  font-size: 11px;
}

.first-para {
  width: 6rem;
  height: 1.5rem;
  padding: 0.125rem 0.625rem;
  background-color: white;
  border-radius: 1rem;
  margin: 0.3rem !important;
}

.first-para p {
  margin: 0.2rem !important;
}

.second-para {
  margin-top: 0.7rem !important;
}

.two {
  padding-top: 24px;
  margin-bottom: 1rem !important;
  margin-right: 0.5rem !important;
}
.produce {
  font-weight: 600;
  font-size: 40px;
  line-height: 58px;
  letter-spacing: -0.02em;
  margin-bottom: 16px !important;
  width: 90%;
}
.design {
  width: 90%;
  margin-bottom: 48px !important;
  font-size: 20px;
  font-weight: 300;
  color: #667085;
}

/* PRODUCTS STYLING */
.right {
  padding-right: 15%;
  padding-top: 7rem;
}

.top-first > img {
  margin-left: 25% !important;
  margin-top: 15% !important;
}


.bottom-first {
  margin-left: 3%;
  margin-right: 5px;
  width: 20%;
}

.bottom-second{
  margin-left: -3% !important;
  width: 20%;
}
.bottom-third {
  margin-left: -8% !important;
  margin-right: 0;
}

/* xx-small devices (phones less than 320) */
@media (max-width: 575.98px) {
  .left {
    padding: 0;
    width: fit-content;
  }
  .container-hero {
    width: fit-content;
    padding-right: 0;
    margin-right: 0;
    background: #f9fafb;
    padding-left: 1rem !important;
  }
  .get-started {
    margin: 0;
    padding: 0;
    margin-top: 25% !important;
    width: fit-content;
    margin-bottom: 2rem;
  }

  .one {
    background: #f1ebda;
    width: fit-content;
    border-radius: 1rem;
    color: #dba90f;
    margin-top: 1.9375rem !important;
    font-size: 10px;
    margin-bottom: 1.9375rem !important;
  }

  .one-paragraph {
    display: flex;
    font-size: 11px;
  }

  .first-para {
    width: 6rem;
    height: 1.5rem;
    padding: 0.125rem 0.625rem;
    background-color: white;
    border-radius: 1rem;
    margin: 0.3rem !important;
  }

  .first-para p {
    margin: 0.2rem !important;
  }

  .produce {
    font-size: 32px;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    width: fit-content;
    letter-spacing: -0.02em;
  }
 
  .two {
    padding-top: 18px;
    margin-bottom: 1rem !important;
    margin-right: 0.5rem !important;
  }
  .second-para {
    margin-top: 0.7rem !important;
  }
  .second-para .get {
    padding-right: 10px;
  }
  .products {
    display: none;
  }
}

/* // Small devices (landscape phones, less than 768px) */
/* @media (max-width: 991.98px) {
  .left {
    padding-left: 0.9375rem;
    padding-top: 1.9375rem;
  }
  .one-paragraph {
    display: flex;
    width: fit-content;
    height: 1.875rem;
    gap: 0.5rem;
    font-style: 0.75rem;
  }
  .one-paragraph > .first-para {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.5625rem;
    height: 1.375rem;
    padding: 0.25rem;
    border-radius: 1rem;
  }
  .first-para p {
    padding-top: 0.125rem 0.5rem;
    width: 4.5625rem;
    height: 1.125rem;
    font-size: 0.75rem;
    text-align: center;
  }
  .one-paragraph > .second-para {
    width: 10.125rem;
    height: 1.125rem;
    font-size: 0.6rem;
    font-weight: 400;
  }
  .produce {
    padding-top: 1.9375rem;
    width: fit-content;
    height: 10rem;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: -0.02em;
    line-height: 2.5rem;
  }
  .three p {
    width: fit-content;
    padding-top: 3rem;
    height: 7rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.75rem;
    padding-bottom: 2.75rem;
  }

  .right {
    display: none !important;
  }
} */

/* // Medium devices (tablets, less than 992px) */
/* @media (max-width: 991.98px) {
  .container-hero {
    width: 100% !important;
  }

  .right {
    display: block !important;
  }
} */

/* // Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { ... }

// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width */

/* // No media query necessary for xs breakpoint as it's effectively `@media (max-width: 0) { ... }` */
/* @include media-breakpoint-down(md) { 
  .get-started{
    margin-left: 10px;
    display: none;
  }
 } */
