/* error message display */
.error-text {
  color: red;
}

.form-container {
  border: 1px solid red;
}

.form-container h1{
    
    background-color: rgb(21, 3, 3);
}
.reg {
  padding-top: 2.3125rem;
  padding-bottom: 3rem;
}
