/* error message display */
.error-text{
    color: red;
}

.form-container{
    border: 1px solid red;
    padding-left: 11.25rem;
    
}



.reg{
    padding-top: 2.3125rem;
    padding-bottom: 3rem;
}