/* error message display */
.error-text {
  color: red;
}

.form-container {
  border: 1px solid red;
}

.form-container h1 {
  width: 28rem;
  height: 2.75rem;
  color: #101828;
  padding-bottom: 2rem;
}
.reg {
  padding-top: 2.3125rem;
  padding-bottom: 3rem;
}

.register-form label {
  font-size: 0.875rem;
  padding-bottom: 0.375rem;
}
.register-form input {
  width: 28rem;
  height: 2.75rem;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding-left: 1rem;
}
.create {
  width: 28rem;
  height: 2.75rem;
  background-color: #566bd9;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  border: 1px solid #566bd9;
  color: white;
  margin-bottom: 1rem;
}
.sign-up {
  width: 28rem;
  height: 2.75rem;
  background-color: #fff;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  color: black;
  margin-bottom: 2rem;
}
.account
.account a {
  color: #dba90f;
  text-decoration: none;
}
