.cont {
  background: linear-gradient(45deg, #282210 0%, #474d67 100%);
}
.shop {
  padding: 0 !important;
  margin: 0 !important;
  margin-left: 4rem !important;
}
.stars {
  padding-top: 14rem;
}
.content {
  color: white;
  width: 33rem;
}
.content h1 {
  font-size: 3.75rem;
  margin-bottom: 1.5rem;
}
.content p {
  font-size: 1.125rem;
  font-weight: 300;
}
.avatar-users{
  position: relative;
}
.register-avatar img:nth-child(1)
.avatar-users{
  padding-bottom: 17.6875rem;
}
.users-count {
  color: white;
  font-weight: 300;
  margin-top: 1rem;
  margin-left: 0.5rem;
}