.merch-brands {
  display: flex;
  height: 36.875rem;
  margin-bottom: 6rem;
}
.brand-cont {
  padding-left: 2.5rem;
}
.brands-top {
  padding-right: 4rem;
}
.brands-top h6 {
  color: #dba90f;
  font-size: 1rem;
  font-weight: 600;
  width: 36rem;
  height: 1.5rem;
  margin-top: 3rem;
}
.brands-top h3 {
  width: 33.3125rem;
  font-size: 1.75rem;
  font-weight: 600;
  letter-spacing: -0.02em;
  color: #101828;
}
.brands-bottom p {
  width: 36rem;
  color: #667085;
  padding-bottom: 2.5rem;
}

.brand-img img {
  width: 36rem;
  height: 36.875rem;
}
/* // Small devices (landscape phones, less than 557px) */
@media (max-width: 556.98px) {
  .merch-brands {
    /* display: block; */
    padding-top: 0;
    height: 36.875rem;
    width: ;
    margin: 0;
    padding: 0;
    background-color: aqua;
  }

  /* .brand-cont {
    padding-left: 1.3125rem;
    width: 19rem;
  }
  .brands-top {
    padding-right: 2rem;
    padding-bottom: 1.25rem;
    width: 16.5rem;
  }
  .brands-top h6 {
    margin-top: 0rem;
    font-size: 1rem;
    width: 16.5rem;
    line-height: 1.5rem;
    padding-right: 1.875rem;
  }
  .brands-top h3 {
    width: 20rem;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: -0.02em;
    margin: 0;
    padding: 0;
  }
  .brands-bottom p {
    width: 17.5rem;
    color: #667085;
    padding-bottom: 2.5rem;
  }

  .brand-img {
    padding-top: 3.1875rem;
    padding-left: 1.3125rem;
    border-radius: 0.5rem;
  }

  .brand-img img {
    height: 14.3125rem;
    width: 96%;
    border-radius: 0.5rem;
  } */
}
