.chateau{
    background-color: #FEFAEC;
}
.text-center{
    padding-top: 6rem;
}
.text-center > img{
    padding-bottom: 2rem;
    background: #fefaec;
}
.text-center > h3 {
width: 58.75rem;
font-size: 1.625rem;
font-weight: 400;
letter-spacing: 0.02rem;pl
}