.chateau{
    background-color: #FEFAEC;
}
.text-center{
    padding-top: 6rem;
}
.text-center > img{
    padding-bottom: 2rem;
    background: #fefaec;
    display: none;
}
.text-center > h3 {
width: 58.75rem;
}