.chateau {
  background-color: #fefaec;
}
.all {
  padding-top: 6rem;
}
.chateau-img img {
  padding-bottom: 2rem;
  background: #fefaec;
}

.quote > h3 {
  width: fit-content;
  height: 7.125rem;
  font-size: 1.625rem;
  font-weight: 400;
  letter-spacing: 0.02rem;
}

.quote > img{
    padding-bottom: 2rem;
}

