
.question {
  padding-left: 15.03125rem;
}
.card-header {
  background-color: #fff !important;
  border-bottom: 2px solid #eaecf0 !important;
}

.card {
  width: 48rem !important;
  border: #fff !important;
}

/* avatar */
.avatar img:nth-child(2) {
  z
  margin-left: -25px;
}
.avatar img:nth-child(3) {
  margin-left: -25px;
}
.avatar img:nth-child(4) {
  margin-left: -25px;
}