
.question {
  padding-left: 15.03125rem;
}
.card {
  width: 48rem !important;
  border: #fff !important;
  margin-bottom: 2rem;
}
.card-header {
  background-color: #fff !important;
  border-bottom: 2px solid #eaecf0 !important;
}



/* avatar */
.avatar img:nth-child(1) {

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px -20px;
z-index: 3;

}
.avatar img:nth-child(2) {
}
.avatar img:nth-child(3) {
  z-index: 6 !important;
  margin-left: -25px !important;
}
.avatar img:nth-child(4) {
  z-index: 7;
  margin-left: -25px;
}