.container-hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 64px 0px 96px;
  gap: 32px;

  width: 100vw;
  height: 656px;

  background: #0c2946;
}
