* {
  font-family: "Campton", sans-serif !important;
}

.container-hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 64px 0px 96px 0;
  gap: 32px;
  width: 100vw;
  background: #f9fafb;
}

.get-started {
  margin-left: 120px;
}



.get-started > p:nth-child(1) {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 10px 4px 4px;
  width: 345px;
  height: 32px;
  background: #f1ebda;
  color: #dba90f;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-size: 13px;
  margin-top: 105px;
}


.what {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 10px;
  width: 105px;
  height: 24px;
  background: #ffffff;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-size: 13px;
}
.get-started > p:nth-child(3) {
width: 576px;
height: 60px;
font-family: 'Campton';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 30px;
color: #667085;
flex: none;
order: 1;
flex-grow: 0;
}

.btn-started{
box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 28px;
gap: 8px;
color: #fff !important;
width: 156px;
height: 60px;

background-color: #566BD9 !important;
border: 1px solid #566BD9 !important;
box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
border-radius: 8px;
flex: none;
order: 0;
flex-grow: 0;
}

.produce {
  width: 591px;
  height: 174px;
  font-family: "Campton";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 58px;
  letter-spacing: -0.02em;
} 

.top-img > img:nth-child(1) {
  position: absolute;
width: 225px;
height: 196px;
left: calc(50% - 225px/2 - 120.5px);
top: 44px;
}
.top-img > img:nth-child(2) {
  position: absolute;
width: 225px;
height: 196px;
left: calc(50% - 225px/2 - 120.5px);
top: 44px;
}
