* {
  font-family: "Campton", sans-serif !important;
}

.get-started{
  padding-left: 7rem;
  padding-top: 6.5rem;
}
.one-paragraph {
  display: flex;
  width: 13.4rem;
}

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  /* .left {
  padding-left: 5%;
  padding-right: 5%;
}
  .one {
    width: 100%;
    font-size: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
 }
.one > .what{
  width: 33%;
  padding-top: 3%;
  margin-top: 4%;
}
.one > .get{
  padding-top: 7%;
  font-size: 9px;
} */
  .products {
    display: none;
  }
}

/* // Small devices (landscape phones, less than 768px) */

/* // Medium devices (tablets, less than 992px) */

/* // Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { ... }

// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width */

/* // No media query necessary for xs breakpoint as it's effectively `@media (max-width: 0) { ... }` */
/* @include media-breakpoint-down(md) { 
  .get-started{
    margin-left: 10px;
    display: none;
  }
 } */

/* GET STARTED RIGHT */
/* .right {
  padding-right: 15%;
}

.top-first > img {
  margin-left: 25%;
  margin-top: 15%;
}

.bottom-first {
  margin-left: 3%;
  margin-right: 5px;
}

.bottom-second {
  margin-left: -3%;
}
.bottom-third {
  margin-left: -8%;
  margin-right: 0;
} */

/* // X-Small devices (portrait phones, less than 576px) */
/* @media (max-width: 575.98px) {
  .top-img {
    display: none;
  }
  .top-img img {
    max-width: 100px;
    max-height: 100px;
  }
 
  .bottom-img img {
    max-width: 100px;
    max-height: 100px;
    display: none;
  }
} */
