.container-hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 64px 0px 96px 0;
  gap: 32px;
  width: 100vw;
  /* heivght: 656px; */

  background: #F9FAFB;
;
}
.get-started > p:nth-child(1) {
color: "#DBA90F", backgroundolor: "#F1EBDA", width: "60%", borderRadius: "10px", padding}
