.container-hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 64px 0px 96px 0;
  gap: 32px;
  width: 100vw;
  /* heivght: 656px; */
  background: #f9fafb;
}

.get-started > p:nth-child(1) {
  display: flex;
flex-direction: row;
align-items: center;
padding: 4px 10px 4px 4px;
width: 345px;
height: 32px;
background: #F1EBDA;
border-radius: 16px;
flex: none;
order: 0;
flex-grow: 0;
}

.what {
  background-color: white;
  border-radius: 16px;
  margin: 6px 2px;
}

.get