* {
  font-family: "Campton", sans-serif !important;
}

.left {
  padding-left: 7rem;
  padding-top: 7rem;
}

.one {
  padding-bottom: 1.5rem;
}
.one-paragraph {
  display: flex;
  width: 21.562rem;
  height: 2rem;
  background: antiquewhite;
  border-radius: 1rem;
  color: #dba90f;
  text-align: center;
  padding: 0.25rem 0.625rem 0.25rem 0.25rem;
  font-size: 0.85rem;
  font-weight: 500;
}

.one-paragraph > .first-para {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.56rem;
  height: 1.5rem;
  padding: 0.125rem 0.625rem;
  background-color: white;
  border-radius: 1rem;
}

.first-para > .what {
  height: 1.25rem;
  width: 5.3125rem;
}

.first-para p {
  padding-top: 0.625rem;
}

.second-para > .get {
  height: 1.25rem;
}
.second-para p {
  padding-top: 0.25rem;
}

.produce {
  width: 36rem;
  height: 10.87rem;
  font-style: normal;
  font-weight: 600;
  font-size: 2.5rem;
  letter-spacing: -0.02em;
  line-height: 3.625rem;
}

.three p {
  width: 36rem;
  height: 3.75rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
}
.three {
  padding-bottom: 3rem;
}
.left button {
  width: 9.75rem;
  border-radius: 0.2rem;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  height: 3.75rem;
}

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .left {
    padding-left: 0.9375rem;
    padding-top: 1.9375rem;
  }
  .one-paragraph {
    display: flex;
    width:fit-content;
    padding: 0.375rem 0.375rem;
    height: 1.875rem;
    gap: 0.5rem;
    g

    /* height: 2rem;
  background: antiquewhite;
  border-radius: 1rem;
  color: #dba90f;
  text-align: center;
  font-size: 0.85rem;
  font-weight: 500; */
  }
  .one-paragraph > .first-para {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.56rem;
    height: 1.5rem;
    padding: 0.375rem 0.375rem;
    background-color: white;
    border-radius: 1rem;
  }
  .products {
    display: none;
  }
}

/* // Small devices (landscape phones, less than 768px) */

/* // Medium devices (tablets, less than 992px) */

/* // Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { ... }

// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width */

/* // No media query necessary for xs breakpoint as it's effectively `@media (max-width: 0) { ... }` */
/* @include media-breakpoint-down(md) { 
  .get-started{
    margin-left: 10px;
    display: none;
  }
 } */

/* PRODUCTS STYLING */
.right {
  padding-right: 15%;
  padding-top: 7rem;
}

.top-first > img {
  margin-left: 25%;
  margin-top: 15%;
}

.bottom-first {
  margin-left: 3%;
  margin-right: 5px;
}

.bottom-second {
  margin-left: -3%;
}
.bottom-third {
  margin-left: -8%;
  margin-right: 0;
}

/* // X-Small devices (portrait phones, less than 576px) */
/* @media (max-width: 575.98px) {
  .top-img {
    display: none;
  }
  .top-img img {
    max-width: 100px;
    max-height: 100px;
  }
 
  .bottom-img img {
    max-width: 100px;
    max-height: 100px;
    display: none;
  }
} */
