.newsletter {
  padding-top: 3rem;
}
.join h5 {
  color: #101828;
}
.join p {
  font-size: 1rem;
  color: #667085;
  font-weight: 300;
}

.subscribe-text {
  height: 3rem;
  margin-right: 2rem;
  border: 1px solid #D0D5DD;
  padding-right: 5rem;
  padding-left: 1rem;

}

.subscribe-btn {
  height: 3rem;
  /* display: none !important; */
}

@media (max-width: 556.98px) {
   .subscribe-btn{
     width: fit-content;
   }
    
  }

