.newsletter {
  padding-top: 3rem;
}
.join h5 {
  color: #101828;
}
.join p {
  font-size: 1rem;
  color: #667085;
  font-weight: 300;
}

.subscribe-text {
  height: 3rem;
  margin-right: 2rem;
  border: 1px solid #d0d5dd;
  padding-right: 5rem;
  padding-left: 1rem;
}

.subscribe-btn {
  height: 3rem;
  /* display: none !important; */
}

@media (max-width: 556.98px) {
  .newsletter{
    width: 20rem;
    border: 1px solid red;
    margin: 0;padding: 0;
  }
  .join{
    width: 20rem;
  }
  .subscribe-text{
    width: 22.0875;
    border: 1px solid red;
    padding-right: 0px;
    margin-bottom: 1rem;
  }
  .subscribe-btn {
    width: 21rem;
  }
}
