.navbar {
  max-width: 100%;
  height: 80px;
  font-family: "Campton", sans-serif;
}

#navbarScroll {
  padding-bottom: 28px;
  padding-top: 28px;
  font-weight: 400;
  font-size: 14px;
}

#shop {
  color: #667085;
}

#register {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 18px; 
  gap: 8px;
  background-color: #566bd9 !important;
  color: #fff;
  border-radius: 8px;
  width: 206px;
  height: 44px;
}
