.navbar {
  width: 100%;
  height: 80px;
}
/*
.logo {
  margin-left: 112px;
  margin-right: 1248;
}

.logo > img {
  width: 80px;
  height: 80px;
} */

#navbarScroll{
/* margin-left: 312px;
margin-top: 28px; */
padding-bottom: 28px;
padding-top: 28px;
font-weight: 400;
font-size: 14px;} 

#shop{
    color: #667085;
;
}

#register{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
/* padding: 10px 18px; */
gap: 8px;
    background-color: #566BD9;
    color: #fff;
    border-radius: 8px;
width: 206px;
height: 44px;
}