.navbar {
  width: 100%;
  height: 80px;
}
/*
.logo {
  margin-left: 112px;
  margin-right: 1248;
}

.logo > img {
  width: 80px;
  height: 80px;
} */

#navbarScroll{
/* margin-left: 312px;
margin-top: 28px; */
margin-bottom: 28px;
padding-top: 28px;
font-family: 'Campton';
} 

#shop{
    color: #667085;
;
}

#register{
    background-color: #566BD9;
    color: #fff;
    border-radius: 10px;
;
}