.printivo {
  background-color: #eceffe;

  padding-left: 7.3125rem;
  padding-right: 7.3125rem;
}
.growing p {
  font-size: 1.375rem;
  letter-spacing: -0.02em;
  font-weight: 600;
  padding-top: 6.6875rem;
  padding-bottom: 6.6875rem;
  line-height: 1.75rem;
  padding-right: 4.02rem;
}
.printivo-img img {
  padding-right: 5rem;
  padding-top: 6.0875rem;
  padding-bottom: 6.6875rem;
}
@media (max-width: 556.98px) {
  .printivo {
    padding-left: 0.28125rem;
    padding-right: 0.28125rem;
  }
  .growing p {
    width: 20rem;
    font-size: 1.25rem;
    padding-right: 0rem;
    text-align: center;
    padding-top: 6.6875rem;
    padding-bottom: 5.75rem;
    font-weight: 400;
  }
  .printivo-img img {
    padding-right: 0.5rem;
    padding-top: 0.0575rem;
    padding-bottom: 0.6875rem;
  }
}
