.printivo {
  background-color: #eceffe;
  padding-top: 6.6875rem;
  padding-bottom: 6.6875rem;
  padding-left: 7.3125rem;
  padding-right: 7.3125rem;
}
.growing p {
  font-size: 1.375rem;
  letter-spacing: -0.02em;
  font-weight: 600;
  line-height: 1.75rem;
  padding-right: 4.02rem;
}
.printivo-img i{
    padding-right: 2rem;
}
