.printivo{
    background-color: #ECEFFE;
    padding-top: 6.6875rem;
    padding-bottom: 6.6875rem;
    padding-left: 7.3125rem;
    padding-right: 7.3125rem;
}
.growing p{
    font-size: 1.375rem;
}