/* new */

.top > h4 {
  color: #dba90f;
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 0.75rem;
}

.top > h3 {
  font-size: 1.75rem;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 2.25rem;
  color: #101828;
  padding-bottom: 1.25rem;
}

.top > p {
  font-size: 1.25rem;
  color: #667085;
  font-weight: 400;
  line-height: 1.875rem;
}

.feature-cont {
  padding-left: 1.5rem;
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
}

.plat-details {
  flex-direction: row-reverse;
}
.plat-detail {
  margin-left: 6rem;
}

/* .plattform {
  flex-direction: row-reverse !important;
  display: none;
} */

.feature-cont > img {
  padding-bottom: 1.5rem;
}

.feature-description > h3 {
  /* height: 2.375rem; */
  font-size: 1.875rem;
  line-height: 2.375rem;
}

.feature-description > p {
  color: #667085;
  /* height: 3.5rem; */
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 350;
  padding-bottom: 2rem;
  margin-right: 2rem;
}

.feature-description > ul {
  list-style: none;
  color: #667085;
  /* height: 1.75rem; */
  font-weight: 350;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.feature-description > ul > li {
  padding-bottom: 1.25rem;
}

.imgCont {
  width: 576px;
  height: 400px;
  border-radius: 0.5rem;
  flex-grow: 0;
}

/* Small devices (landscape phones, less than 557px) */
@media (max-width: 556.98px) {
  /* .whole {
    width: fit-content;
  } */

  .top {
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 0.75rem;
    width: fit-content;
    margin: 0;
    text-align: center;
    justify-content: center;
  }

  .feature-cont {
    display: block;
    padding: 0;
    max-width: max-content;
  }

  .feature-cont > img {
    padding-bottom: 1.5rem;
  }

  .feature-cont > h3 {
    /* width: 18rem; */
    /* height: 2.375rem; */
    font-size: 1.875rem;
    line-height: 2.375rem;
  }

  .feature-cont > p {
    color: #667085;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 30px;
    color: #667085;
    margin-right: 1rem;
  }

  .feature-description > ul {
    list-style: none;
    color: #667085;
    /* width: 18rem; */
    font-weight: 350;
    font-size: 1.125rem;
    line-height: 1.75rem;
    padding: 0;
    margin: 0;
  }
  .feature-description > p {
    margin-right: 0;
  }
  .feature-description > ul > li {
    padding-bottom: 1.25rem;
    width: 100%;
  }

  .imgCont {
    width: 336px;
    margin: 0;
    padding: 0;
    margin-left: 0;
  }
  .plat-details img {
    margin-right: 0;
  }
  /* .second {
    padding: 0;
  }
  .domain {
    padding-top: 14rem;
  } */
  /*.top > h4 {
    text-align: center;
  }

  .top > h3 {
    font-size: 1.5rem;
    font-weight: 600;
    width: 17.93rem;
    color: #101828;
    padding-bottom: 1.6875rem;
    padding-left: 3rem;
  }

  .top > p {
    font-size: 1.25rem;
    color: #667085;
    font-weight: 350;
    line-height: 1.875rem;
    padding-left: 2rem;
    width: 17.93rem;
    margin-top: -1rem;
  }

  .feature-cont {
    padding-left: 2rem;
    padding-top: -4rem;
    width: 17rem;
  }

  .feature-cont > img {
    padding-bottom: 1.5rem;
  }

  .feature-cont > h3 {
    width: 14rem;
    height: 2.375rem;
    font-size: 1.375rem;
    line-height: 2.375rem;
    font-weight: 400;
  }

  .feature-cont > p {
    color: #667085;
    width: 34rem;
    height: 3.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 350;
    margin-bottom: 4rem;
    width: 14.75rem;
  }

  .feature-cont > ul {
    list-style: none;
    color: #667085;
    width: 14rem;
    height: 1.75rem;
    font-weight: 350;
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-left: 0px;
  }

  .feature-cont > ul > li {
    padding-bottom: 1.25rem;
    width: 14.75rem;
    font-size: 1rem;
    margin-left: -1rem;
  }

  .imgCont1 {
    width: 19rem;
    height: 13.9375rem;
    border-radius: 0.5rem;
    order: 1;
    flex-grow: 0;
    margin-top: 10rem;
    margin-left: 0.6rem;
  }

  .shipping {
    margin-top: -1rem;
    padding-top: 1rem;
    background-color: #dba90f;
  }

  .imgCont2 {
    width: 17rem;
    height: 13.9375rem;
    border-radius: 0.5rem;
    flex-grow: 0;
    margin-top: 12rem;
    margin-left: 0.6rem;
  }
  .first {
    width: 19rem;
  }
  .second {
    padding-left: 1rem;
  }
  .plattform {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .plattform-cont:nth-of-type(1) {
    order: 2;
  }
  .plattform-cont:nth-of-type(2) {
    order: 1;
  }
  .imgCont3 {
    width: 17rem;
    height: 13.9375rem;
    border-radius: 0.5rem;
    flex-grow: 0;
    margin-top: 12rem;
    margin-left: 0.6rem;
  }
  .domain {
    margin-top: -3rem;
  } */
}
