.avatar img:nth-child(2) {
  margin-left: -25px;
}
.avatar img:nth-child(2) {
  margin-left: -25px;
}
.avatar img:nth-child(2) {
  margin-left: -25px;
}
.avatar img:nth-child(2) {
  margin-left: -25px;
}
